* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
}

#container {
    max-width: 90%;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: black;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: black;
    padding: 10px 15px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 10px;
    font-size: 1rem;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1rem;
}

.weather-icon {
    width: 100px;
    margin-top: 5px;
}

.weather h1 {
    font-size: 3rem;
    font-weight: 500;
}

.weather h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 30px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 1.2rem;
}

.weather {
    display: none;
}

.error {
    color: red;
    text-align: left;
    margin-left: 10px;
    font-size: 1rem;
    margin-top: 10px;
    display: none;
}

@media (min-width: 768px) {
    #container {
        max-width: 50%;
        padding: 40px;
    }

    .weather-icon {
        width: 150px;
    }

    .weather h1 {
        font-size: 4.5rem;
    }

    .weather h2 {
        font-size: 2rem;
    }

    .humidity, .wind {
        font-size: 1.8rem;
    }
}

@media (min-width: 1024px) {
    #container {
        max-width: 40%;
        padding: 40px;
    }
}